@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body{
	font-family: "Merriweather";
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 250px;
	/*background-color: #969696;*/
	background-color: rgba(50,50,50,.75);
	font-size: 4.8em;
	margin-top: 830px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	color: white;
	text-align: center;
}

.small{
	font-size: 1em;
}