@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body{
	font-family: "Merriweather";
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
	/*background-color: #969696;*/
	background-color: rgba(204,204,204,.50);
	font-size: 4.5em;
	margin-top: 830px;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: black;
	color: white;
	text-align: center;
}